{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Financial Literacy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/literacy.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
</head>
<body>
    <ul class="ul"> 
     
   <li class="li"><img src="{% static 'media/ENTR.png' %}" class="image_two"></li> 
  <li class="li"><a href="#" style="color: rgba(123, 64, 198, 1);">Entr.Skills</a></li>
  <li class="li"><a href="{% url 'business' %}">Business Plan</a></li>
  <li class="li"><a href="#">Mental</a></li>
  <li class="li"><a href="#">Pitch Deck</a></li>
  <li class="li"><a href="#">Products</a></li>
  <li class="li"><img src="{% static 'media/user.png' %}" class="image_three"></li> 
   </ul><hr class="line_one">
   <p class="content"><i><span style="color:black;">Lane/Entrepreneriul Skills/</span><label style="color: rgba(123, 64, 198, 1);">Financial Literacy</label></i></p>

<div class="div_three">
 <h2 class="feb"><span style="color:black">Financial</span> <label style="color:rgba(123, 64, 198, 1);">literacy</label></h2> 
 <hr style="width:23%;background-color: rgba(123, 64, 198, 1);height: 1px;border-color: rgba(123, 64, 198, 1);position: relative;top: 14px;">
<div style="font-size:20px;color:white;margin-left: 55px;letter-spacing: 1px;position: relative;top: 30px;margin-right: 40px;">
    <h3 style="position:relative;top: 10px;font-weight: bold; color: black;">What is financial literacy?</h3>
    <p>Financial literacy is the ability to understand and use various financial skills, including personal financial management, budgeting and investing. Every entrepreneur need to a good working knowledge of finances and financial management which includes how to pay his/her bills, how to borrow and save money responsibility, how and why to invest, and plan and report financial performance. </p>

<h3 style="position:relative;top: 10px;font-weight: bold; color: black;">Why an entrepreneur has to be financially literate?</h3>
<p>In order to start a business and stay in business, you’ll need to experience financial growth at some points like; with the money coming in and going out, with due dates and finance charges and fees attached to invoices and bills and with the overall responsibility of making the right decisions about major purchases and investments consistently.</p>

<p>If you learn that variety of important financial skills and concepts you will be able to deal with all that and be less vulnerable to financial fraud because it will prevent devastating financial mistakes, prepares you for emergencies, help you reach their goals and invokes your confidence and you will also be able to find what areas are affecting your revenue.</p>

<p>As you grow your business, you may hire someone with a better understanding of finances to handle that aspect of the business. But you still need a good working knowledge of all things about your money.
 </p>
</div>
<h2 style="width: 95%;text-align: center;font-size: 24px;position: relative;top: 50px;font-weight: bold;color: rgba(123, 64, 198, 1);"><u>Main components of financial literacy you need to know <br>as an entrepreneur.</u></h2> 
<ul style="color:black;font-size: 20px;position: relative;top: 130px;margin-left: 130px;letter-spacing: 1px;">
<li>Budgeting</li>
<li>Money management</li>
<li>Credit and Dept care</li>
<li>Saving, I nvesting, and Borrowing</li>
</ul>
<img src="{% static 'icon/truu.png' %}" style="position:relative;width: 230px;left: 65%;bottom: 84px;">
<h2 style="text-align:center;font-weight: bold;color: rgba(123, 64, 198, 1);">An Up-To-Date Budget</h2>
<hr style="width:10%;border-color: rgba(123, 64, 198, 1);background-color: rgba(123, 64, 198, 1);height: 1px;">


<p style="color: black;letter-spacing: 1.1px; width:45%;font-size: 19px;position: relative;top: 40px;margin-left: 50px;"><a href="#" style="font-size:21px;font-weight: bold;color: black;text-decoration: none;">Budgeting:</a>Track how much money you receive each month against how much you spend. Creating a budget doesn’t need to be complicated, nor will it require you to do much math in fact you can do it in an Excel sheet, on paper or let’s help you with our budgeting product (<u style="color:rgba(123, 64, 198, 1);font-weight: bold;">EL budget</u>). 
Note that Every successful business makes a plan for how to spend their money (Budget).And, the more closely you can follow it, the fewer financial challenges you will face</p>
<img src="{% static 'icon/growth.png' %}" style="position:relative;left:58%;bottom: 9%;width: 39%;">
<p style="font-size:20px;width: 80%;margin-left: 50px;color: black;position: relative;bottom: 190px;">Here’re some templates below for budgeting and later on when you finish this theory on financial literacy you’ll get an <u style="color:rgba(123, 64, 198, 1);font-weight: bold;">example task to put in practice:</u></p>
<div style="position:relative; bottom: 170px;margin-left: 53px;">
    <img src="{% static 'media/_get_three.png' %}">
    <img src="{% static 'media/_get_two.png' %}">
    <img src="{% static 'media/_get_one.png' %}">
</div>
<h2 style="text-align:center;position: relative;bottom: 140px;color: rgba(123, 64, 198, 1);">Money Management</h2>
<hr style="width:10%;position: relative;bottom: 145px;height: 1px;background-color: rgba(123, 64, 198, 1);border-color: rgba(123, 64, 198, 1);">
<p style="font-size:20px;width:86%;margin-left:50px;color: black;position: relative;bottom: 140px;"><b>Money management:</b> Managing your money is a personal skill that benefits you throughout your life and your business, and that include you pay your bills in a timely manner and you don’t drown yourself in debt. You accept the fact that sometimes you have to sacrifice immediate demands and desires for long-term gain and don’t forget to pay yourself. Money management is composed of two main Aspects which are: </p>
</div>


</div>

<div class="div_one"> 
 <h2 class="div_1">Entrepreneurial skills</h2> 
 <img class="icon_one" src="{% static 'icon/icons8.png' %}"> 
 <div class="combine_div">
  <p style="color:rgba(123, 64, 198, 1);position: relative;bottom: 5px;">Financial Literacy</p>  
  <p style="color:black;"> Marketing Skills</p>
  <p style="color:black;">How to make a good Business plan?</p>
  <p style="color:black;">How to make a strong Pitch Deck?</p>
  <p style="color:black;">Additional skills</p> 
 </div>
</div>

<div class="div_two"> 
 <h2 style="text-align:center;position: relative;top: 10px; color: rgba(123, 64, 198, 1);">Financial Literacy</h2> 
  
 <div style="margin-left: 45px;font-size: 19px;color: black;position: relative;">
  <p>What is financial literacy?</p>  
  <p>Why be financialy literate as an<br> entrepreneur?</p>
  <p>Components of financial literacy</p>
 </div>

 <div style="margin-left: 108px;font-size: 19px;bottom: 7px;color: black;">
     <p>Budgeting</p>
     <p>Money management</p>
     <p>Credit and Dept care</p>
     <p>Saving, Investing, and<br> borrowing</p>
 </div>
</div>


</body>
</html>